{% extends "regulations/base.html" %}
{% load static %}
{% block body %}
<div class="site-container">

  <main class="about">
    <h1>About This Tool</h1>

    <section>
      <h2>Contact</h2>
      <p>If you’d like to give suggestions, try new features, and help make this tool more useful, <a href="https://docs.google.com/forms/d/e/1FAIpQLScesNzqS-Kgpcjq3AxESy1tP0zlcs3CdgkCVr3LBOiUTxxbvw/viewform" class="external">sign up for a feedback session</a>.</p>

      <p>To get in touch directly, email Product Owner <a href="mailto:swapna.gubbala@cms.hhs.gov" class="external">Swapna Gubbala</a>.</p>
    </section>

    <section>
      <h2>How It Works</h2>
      <p class="subtitle">Automated and editorial update processes</P>
      <section>
        <h3>Regulations</h3>
        <aside>
          <img src="{% static 'images/HowItWorksDiagram.svg' %}"/> 
        </aside>
        <p>This tool displays regulation text from <a href="https://www.ecfr.gov/cgi-bin/ECFR?page=browse" class="external">eCFR</a>, automatically pulled once a day to maintain accuracy.</p>
        <p>The Office of the Federal Register updates eCFR daily, and it incorporates new amendments about two business days after their effective date.</p>
        <p class="note">Note: eCFR and this tool are not official legal editions of the CFR. See eCFR User Information for how to check against official materials (annual editions and Federal Register rules).</p>
        <a href="https://www.govinfo.gov/help/cfr" class="external">About the eCFR data source</a>
      </section>
      <section>
        <h3>Federal Register Rules</h3>
        <aside>
          <img src="{% static 'images/FR Rules.svg' %}"/> 
        </aside>
        <p>The lists of rules (proposed and final amendments to regulations) are pulled automatically from the Office of the Federal Register.</p>
        <p>These lists are fetched every time you load a page that includes them, so they are always up-to-date.</p>
        <a href="https://www.federalregister.gov/reader-aids/developer-resources/bulk-data" class="external">About the Federal Register data source</a>
      </section>

      <section>
        <h3>Links to Additional Resources</h3>
        <aside>
          <img src="{% static 'images/Additional Resources.svg' %}"/> 
        </aside>
        <p>Resource links are curated and updated by a Medicaid subject matter expert on our team.</p>
        <p>For example, when Medicaid.gov publishes a new State Medicaid Director Letter, we add a link in the sidebar of each relevant subpart.</p>
        <a href="https://www.medicaid.gov/new-notable/index.html" class="external">Medicaid.gov New & Notable</a>
      </section>

      <section>
        <h3>Cross-References <span class="indicator">Coming Soon</span></h3>
        <p>Some text about cross-references.</p>
      </section>

    </section>
  </main>
</div>
{% endblock %}
