{% extends "regulations/base.html" %}
{% load static %}
{% block app_js %}
<link rel="stylesheet" href="{% static '/css/main.css' %}"/>
{% endblock %}

{% block title %}eRegulations{% endblock %}

{% block body %}

  <header>
      {% include "regulations/main-header.html" %}
  </header>

  <div class="box">
    <main>
      <div class="container">
        <form class="search" action="{% url 'search' %}">
          <input type=search name="q" value="{{ q }}" placeholder="Search Regulations"></input>
          <button><i class="fa fa-search"></i></button>
        </form>
        <p>{{ results | length }} results</p>
        {% for result in results %}
        <h3>
          <a href="{% url 'reader_view' result.label.0 result.label.1 result.version %}#{{ result.label_string}}">
            {{ result.title }}
          </a>
        </h3>
        <p>{{ result.text }}</p>
        {% endfor %}
      </div>
    </main>
    <aside class="right-sidebar">
      <section>
        <h3>Search Title 42 (Full)</h3>
        <div>
          <h4>
            <a href="https://ecfr.federalregister.gov/search?search%5Bdate%5D=current&search%5Bhierarchy%5D%5Btitle%5D=42&search%5Bquery%5D={{ q }}&view=standard" target="_blank">{{ q }} in Beta eCFR <sup><i class="fa fa-external-link-alt"></i></sup></a>
          </h4>
          <p>Search the entirety of Title 42, including other subchapters, in a different reg tool.</p>
        </div>
      </section>
    </aside>
  </div>
  {% include "regulations/full_footer.html" %}

{% endblock %}
