{% extends "regulations/base.html" %}
{% load static %}
{% load macros %}
{% block app_js %}
{% endblock %}

{% block body %}

<header>
    {% include "regulations/main-header.html" %}
</header>

<aside>
    {% with nav_class='toc-nav__base toc-nav__cfr-viewer' toc_items=TOC top_toc=True %}
        {% include "regulations/toc.html" %}
    {% endwith %}
</aside>

<main>
    <section>
        {% include "regulations/regulation_text.html" with c=tree %}
        {%include "regulations/navigation.html"%}
    </section> <!-- /.reg-text -->        
</main>

<aside>
    <div>
        {%include "regulations/sidebar.html"%}
    </div>
</aside>

<footer>
{% include "regulations/footer.html" %}
</footer>

{% endblock %}
