{% load render_nested %}
{% comment %}
    Used once per section. Contained by subparts at the top level.
{% endcomment %}

<section id="{{c.label | join:'-'}}" class="reg-section depth-{{c.label|length}}">
   <!-- <a class="reference" href="#{{c.label | join:'-'}}"><i class="fa fa-link"></i></a>-->
    <h2 class="section-title" tabindex="0"> {{c.title}} </h2>
    {{c.text | safe}}
</section>

{% for node in c.children %}
    {% if node.node_type %}
    {% render_nested "regulations/partials/"|add:node.node_type|add:".html" "regulations/partials/regulation_text.html" c=node first="false" %}
    {% endif %}
{% endfor %}
