
{% load render_nested %}
{% comment %}
    Used once per section. Contained by subparts at the top level.
{% endcomment %}
<article>
    <h1 tabindex="0">
    <a class="reference" href="#{{c.label | join:'-'}}"><i class="fa fa-link"></i></a>
    {{c.title}} </h1>
    {{c.text | safe}}

    {% for node in c.children %}
        {% if node.node_type %}
        {% render_nested "regulations/partials/"|add:node.node_type|add:".html" "regulations/partials/regulation_text.html" c=node first="false" %}
        {% endif %}
    {% endfor %}
</article>