main.about {

    display: block;
    margin: 0 auto;
    max-width: $text-max-width;

    aside {
        float: right;
        margin-left: $spacer-3;
    }

    section {
        margin-top: $spacer-5;
        clear: both;
    }

    h2 {
        color: $primary_color; 
    }

    .subtitle {
        font-weight: 600;
    }

    .note {
        font-style: italic;
    }

}
