
//-----------------------------
// Site Homepage
//-----------------------------

@import "../application_settings";

.site-homepage {

    // Hero Banner

    .hero-banner {
        background: $hero_background_color;
        color: $reverse_text_color;
        padding: $spacer-4;

        .hero-search {
            margin: $spacer-2 0;
            height: 42px;           // Height of the search box
            position: relative;
            z-index: 2;
        }

        .hero-text {
            width: 50%;
            height: 300px;
            position: relative;
            z-index: 2;

            a {
                color: $hero_link_color;

                &:visited {
                    color: $hero_link_color;
                }

                &:hover {
                    color: $hero_link_hover;
                }
            }
        }

        .hero-image {
            position: absolute;
            top: -110px;
            right: 0;
            width: 50%;
            text-align: right;

            img {
                max-width: 100%;
            }
        }

        h1 {
            margin-bottom: 0;
            font-family: $primary_site_font;
            font-size: $font-size-4xl;
        }

    }

    // Features

    .site-features {
        background: $teritary_background_color;
    }

    .feature {
        @include equal-width-flexbox-col();
        padding: $spacer-3;

        h3 {
            font-family: $secondary_site_font;
            font-weight: normal;
        }
    }
}


// Leftover Code from Dec MVP - To Be Deleted

.site-homepage {

    .reg-title {
        h1 {
            margin-bottom: 0;
            font-size: 1.7em;
        }
    }
}

.subchapter {
    border-bottom: 1px solid $border_color;
    padding: 1em 0;
}

.part-names {
    display: block;
    margin: 1em 0;
    padding: 0;

    a {
        text-decoration: none;
        font-size: 1.2em;

        .part-number {
            font-weight: bold;
            display: table-cell;
            padding-right: .3em;
        }

        .part-title {
            display: table-cell;
        }

    }
}
