
//-----------------------------
// Site Homepage
//-----------------------------

@import "../application_settings";

.site-homepage {

    .site-container {

        @media (max-width: 1350px) {
            padding-top: 0; 
        }
    }

    // Hero Banner

    .hero-banner {
        background: $hero_background_color;
        color: $reverse_text_color;
        padding: $spacer-4;

        .hero-search {
            height: 42px;           // Height of the search box
            position: relative;
            z-index: 2;
        }

        .hero-text {
            width: 50%;
            height: 276px;
            position: relative;
            z-index: 2;
            text-shadow: 3px 1px 5px $secondary_color;

            @media (max-width: 1350px) {
                height: 260px;
            }

            a {
                color: $hero_link_color;

                &:visited {
                    color: $hero_link_color;
                }

                &:hover {
                    color: $hero_link_hover;
                }
            }
        }

        .hero-image {
            position: absolute;
            right: 0;
            width: 50%;
            top: -85px;
            text-align: right;

            @include screen-lg {
                width: 58%;
                top: -60px;
                right: -56px;
            }

            @media (min-width: 1050px) {
                width: 56%;
            }

            @media (min-width: 1100px) {
                width: 54%;
                right: -40px;
            }

            @media (min-width: 1140px) {
                width: 52%;
                right: -30px;
                top: -55px;
            }

            @media (min-width: 1170px) {
                width: 50%;
                top: -50px;
            }

            @media (min-width: 1190px) {
                width: 50%;
                top: -60px;
            }

            @media (min-width: 1235px) {
                width: 50%;
                top: -86px;
                right: -30px;
            }

            @include screen-xl {
                width: 49%;
                top: -98px;
                right: 0;
            }

            @media (min-width: 1350px) {
                top: -78px;
                width: 49%;
                right: 0;
            }

            @include screen-xxl {
                top: -85px;
                width: 50%;
                right: 0;
            }

            img {
                max-width: 100%;
            }
        }

        h1 {
            margin-bottom: 0;
            font-family: $primary_site_font;
            font-size: $font-size-4xl;

            @media (max-width: 1490px) {
                font-size: 2.7em;  
                line-height: 1.1em;
                margin-bottom: $spacer-1;
            }
        }

        h4 {
            margin-top: 0;
        }

    }

    // Features

    .site-features {
        background: $teritary_background_color;
    }

    .feature {
        @include equal-width-flexbox-col();
        padding: $spacer-3;

        h3 {
            font-family: $secondary_site_font;
            font-weight: normal;
        }
    }
}

// Leftover Code from Dec MVP - To Be Deleted

.site-homepage {

    .reg-title {
        h1 {
            margin-bottom: 0;
            font-size: 1.7em;
        }
    }
}

.subchapter {
    border-bottom: 1px solid $border_color;
    padding: 1em 0;
}

.part-names {
    display: block;
    margin: 1em 0;
    padding: 0;

    a {
        text-decoration: none;
        font-size: 1.2em;

        .part-number {
            font-weight: bold;
            display: table-cell;
            padding-right: .3em;
        }

        .part-title {
            display: table-cell;
        }

    }
}
